body {
    background-image: linear-gradient(
      to right,
      rgb(255, 255, 255) 40%,
      rgb(31, 111, 120) 100%
    );
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 90vh;
  }
  
  .image {
    width: 50%;
    padding-left: 5%;
    padding-top: 5%;
  }

  b{
      width: 150px;
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      font-size: 3vh;
      letter-spacing: 0.2vw;
  }
  
  .wesite-name {
    margin: 20px auto 0 50px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
    font-size: 6vh;
  }
  
  .nav {
    background-color: #1f6f78;
    height: 10vh;
    width: 100vw;
    position: fixed;
  }

  .wrap {
    margin-top: 12vh;
    margin-left: 10px;
    width: 50%;
    height: 500px;
    max-width: 500px;
    min-width: 400px;
    background-color: #118a7ee8;
    color: white;
    padding: 20px;
    border-radius: 6px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .farmer {
    width: 80%;
  }
  
   .wrap-header{
      text-align: center;
      font-size: 3rem;
  }
  
  .form{
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  
  
  .form-item {
      margin-bottom: 30px;
      width: 450px;
      margin-top: 30px;
      display: flex;
      justify-content: left;
      align-items: center;
  }
  
  .input-field {
      border-radius: 8px;
      padding: 5px;
      height: 30px;
      width: 250px;
      font-size: 3vh;
      letter-spacing: 0.2vw;
      padding-left: 2vw;
  }
  
  
  .login {
    background: none;
    border: 2px solid;
    line-height: 1;
    margin: 0.5em;
    color: #0b4d39;
    transition: 0.25s;
    border-radius: 6px;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    height: 7vh;
    width: 200px;
    font-size: 4vh;
    letter-spacing: 0.2vw;
  }
  
  .login:hover {
    box-shadow: 0 0 0 0 #1f6f78, inset 6em 3.5em 0 0 #1f6f78;
    color: white;
  }

  .error-box{
    color:red;
    background-color: #ff001167;
    display: none;
    /* 
      change display to "inline" 
      else it will inherit flex property and text align will not work
    */
    
    text-align: center;
    border-radius: 8px;
  }
  
  
  @media (max-width: 1028px) {
    .image {
      display: none;
    }
  
    .container{
        width: 60%;
    }
  
    body{
      display: flex;
      justify-content: center;
    }

    .form-item{
        width: 400px;
    }

    b{
        width: 120px;
    }
}
