.article-page header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px #009688 solid;
}

.article-page h2{
    color: #1f6f78;
    font-weight: bolder;
    padding-top: 0 !important;
}

.bg{
    background-color: #009688;
    color: snow;
}

.article-page{
    margin-top: 2vh;
    border-radius: 6px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.heading{
    text-align: center;
    padding: 2vh;
    border-bottom: 2px #009688 solid;
}

.section{
    border-radius: 6px 6px 0 0;
}

.section-body{
    border: 2px #009688 solid;
    display: flex;
    justify-content: space-evenly;
}


.requirements div{
    padding: 0 2vw;
    border-bottom: 1px #009688 solid;
}
.content div{
    padding: 0 2vw;
    border-bottom: 1px #009688 solid;
    border-left: 1px #009688 dashed;
}

.requirements div:last-child,
.content div:last-child{
    border-bottom: none;
}

footer.article-page{
    display: block !important;
    text-align: center;
    padding-bottom: 2vh;
}
