@import "../../css/weather/weather.css";
.recommendation-system{
  margin: 2% 0;
  padding: 10px;

  header{
    padding: 10px 0;
    font-size: 20px;
  }

  .no-location-info{
    padding: 10px;
    font-weight: 200;
    font-size: 15px;
  }

  .user-location-options{
    text-align: center;
    line-height: 30px;
    padding: 10px 0;

    button{
      background: linear-gradient(to top, #009688 ,#4CAF50,#009688 ,#4CAF50);
      border: none;
      outline: none;
      padding:5px 25px;
      font-size: 16px;
      color: snow;
      letter-spacing: 1px;
      cursor: pointer;
      border: solid 1px green;
      border-radius: 5px;
      transition: background 0.3s;
      background-size: 1px 100px;

      &:hover{
        background-position: 100px;
      }
    }


  }

  table{
    width: 99%;
    text-align: center;
    margin: auto;
    border-collapse: collapse;

    td, th{
      padding: 5px;
      border: solid 1px snow;
    }
    tr:nth-child(even) {
        background-color: #8fbc8f5e;
    }

    tr:nth-child(odd) {
        background-color: aliceblue;
    }
    th{
      color: snow;
      font-size: 18px;
      font-weight: normal;
      background-color: #1aa26d;
      border: solid 1px;
    }
    td:nth-child(1){
      text-transform: capitalize;
    }
  }
}



  .location-info{
    text-align: center;
  }
  .current-weather{
    margin: auto;
  }
