@charset "UTF-8";
.profile-header {
  cursor: default;
  font-size: 21px;
  padding: 10px;
  font-weight: 600;
}

.profile-overview {
  border-radius: 5px;
  margin: 10px 0 0;
  padding: 10px;
  background-color: white;
}
.profile-overview .profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: aliceblue;
  margin: auto;
  display: block;
}
.profile-overview .profile-pic img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.profile-overview .profile-pic img:hover {
  filter: brightness(0.8);
}
.profile-overview .username {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  display: block;
  font-size: 20px;
  cursor: default;
}
.profile-overview .username::after {
  content: "✍";
}
.profile-overview .premium-sticker {
  text-align: center;
  font-size: 12px;
  background-color: green;
  width: fit-content;
  margin: auto;
  color: white;
  padding: 2px 7px;
  border-radius: 15px;
  text-transform: uppercase;
  cursor: default;
}

.profile-details {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: white;
}
.profile-details .personal-info header {
  text-align: justify;
  font-size: 18px;
  font-weight: 800;
  padding: 20px;
  cursor: default;
}
.profile-details .personal-info .row {
  margin: 0;
}
.profile-details .personal-info .profile-data {
  border-bottom: solid 1px #00000021;
  cursor: default;
}
.profile-details .personal-info .profile-data:nth-child(2) {
  border-top: solid 1px #00000021;
}
.profile-details .personal-info .profile-data div {
  padding: 10px;
  text-align: center;
  color: lightseagreen;
}
.profile-details .personal-info .profile-data div:nth-child(1) {
  color: #128594;
  font-weight: 600;
  text-align: center;
}

.account-action {
  margin: 10px 0;
  padding: 10px;
  text-align: right;
}
.account-action div {
  padding: 10px;
}
.account-action div a {
  color: #009688;
  text-decoration: none;
}
.account-action div a:hover {
  color: #4caf50;
  text-decoration: underline;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  animation: floatIn 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.modal-container .modal-content {
  margin: 50px auto;
  width: 95%;
  max-width: 450px;
  background-color: white;
  color: #045049;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px black;
}
.modal-container .modal-content header {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  /*background: #2196F3;
  color: snow;*/
}
.modal-container .modal-content header .close {
  font-size: 2.5rem;
  padding: 0 10px;
  cursor: pointer;
}
.modal-container .modal-content header h2 {
  margin: 0.83rem;
  font-size: larger;
  font-weight: 600;
}
.modal-container .modal-content hr {
  margin: 0;
}
.modal-container .modal-content section, .modal-container .modal-content footer {
  padding: 0.3rem 1rem;
}
.modal-container .modal-content section .file-upload-area {
  border: double 1px;
  height: 200px;
  margin: auto;
  position: relative;
}
.modal-container .modal-content section .file-upload-area #dnd-file-upload, .modal-container .modal-content section .file-upload-area #uploading-div {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: fit-content;
  line-height: 1.5rem;
}
.modal-container .modal-content section .file-upload-area #dnd-file-upload label, .modal-container .modal-content section .file-upload-area #uploading-div label {
  background-color: green;
  color: snow;
  padding: 0.3rem 1rem;
  display: inline-block;
  cursor: pointer;
}
.modal-container .modal-content section .file-upload-area #dnd-file-upload #upload-user-file, .modal-container .modal-content section .file-upload-area #uploading-div #upload-user-file {
  display: none;
}
.modal-container .modal-content section .file-upload-area #uploading-div {
  display: none;
}
.modal-container .modal-content section .file-upload-area .file-preview-div {
  display: none;
  padding: 5px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #efefef;
}
.modal-container .modal-content section .file-upload-area .file-preview-div img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
  display: block;
}
.modal-container .modal-content section .file-upload-area:hover, .modal-container .modal-content section .dragover {
  background-color: #fafafa;
}
.modal-container .modal-content footer .form-input {
  display: flex;
  /*flex-wrap:wrap;*/
  align-items: center;
  position: relative;
  margin: 10px;
  height: auto;
  justify-content: space-between;
}
.modal-container .modal-content footer .form-input input[type=submit], .modal-container .modal-content footer .form-input input[type=button] {
  width: 100px;
  display: inline-block;
  padding: 0.65rem 0.75rem;
  border-radius: 5px;
  background: #2196F3;
  color: snow;
  border: none;
  outline: none;
  font-size: 1rem;
  box-shadow: 0 0 3px 0px #2196F3;
  cursor: pointer;
  transition: 0.25s;
}
.modal-container .modal-content footer .form-input input[type=submit]:hover, .modal-container .modal-content footer .form-input input[type=button]:hover {
  box-shadow: 0 0 5px 0px #2196F3;
}
.modal-container .modal-content footer .form-input input[type=submit]:disabled, .modal-container .modal-content footer .form-input input[type=button]:disabled {
  box-shadow: none;
  background-color: #9e9e9ec2;
  cursor: not-allowed;
}

@keyframes floatIn {
  from {
    top: -200px;
    background-color: rgba(0, 0, 0, 0);
    /*transform: rotate(0);*/
  }
  to {
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    /*transform: rotate(360deg);*/
  }
}
@media (max-width: 767px) {
  .account-action div {
    padding: 5px;
  }
}

/*# sourceMappingURL=profile.css.map */
