@charset "UTF-8";
#outerCircle {
  animation: pulse 2s infinite;
  fill: none;
}

@keyframes pulse {
  0% {
    r: 0;
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    r: 20;
    opacity: 0;
  }
}
.connected circle {
  fill: #03A9F4 !important;
}

.chat-content {
  margin: 3% 0;
}
.chat-content .chat-header {
  font-size: 20px;
  padding: 10px 20px;
  background-color: white;
}
.chat-content .chat, .chat-content .faq {
  display: block;
  background-color: white;
}
.chat-content .chat {
  /*background-color: #8bf1cb2e;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
  border-radius: 6px;*/
  border-top: 1px #009688 solid;
  height: 600px;
  position: relative;
}
.chat-content .chat .chat-room {
  overflow: auto;
  height: 92%;
}
.chat-content .chat .chat-room .chat-message {
  text-align: justify;
  padding: 5px 10px 1.1rem;
  margin: 5px;
  display: block;
  border-radius: 5px;
  max-width: 80%;
  min-width: 50%;
  position: relative;
}
.chat-content .chat .chat-room .chat-message .content {
  padding: 5px 0 0;
  margin: 0;
}
.chat-content .chat .chat-room .chat-message .time {
  right: 10px;
  position: absolute;
  bottom: 5px;
  font-size: 0.77em;
}
.chat-content .chat .chat-room .chat-message .sender {
  font-size: 0.8em;
}
.chat-content .chat .chat-room .you {
  display: flex;
  height: fit-content;
  width: 95%;
  justify-content: flex-end;
  margin: auto;
}
.chat-content .chat .chat-room .you .chat-message {
  background-color: #f4fff0;
}
.chat-content .chat .chat-room .you .chat-message .sender {
  display: none;
}
.chat-content .chat .chat-room .you .chat-message .time {
  right: 0;
}
.chat-content .chat .chat-room .you .chat-message .sending::after {
  content: "✓";
  color: #009688;
  font-size: 0.9rem;
  letter-spacing: -5px;
  padding-right: 7px;
  /* padding: 5px; */
  padding-left: 2px;
}
.chat-content .chat .chat-room .you .chat-message .sent::after {
  content: "✓✓";
  color: #009688;
  font-size: 0.9rem;
  letter-spacing: -5px;
  padding-right: 7px;
  /* padding: 5px; */
  padding-left: 2px;
}
.chat-content .chat .chat-room .they {
  display: flex;
  height: fit-content;
  width: 95%;
  justify-content: flex-start;
  margin: auto;
}
.chat-content .chat .chat-room .they .chat-message {
  background-color: #d6fffb;
}
.chat-content .chat .chat-room .status {
  text-align: center;
  border-radius: 10px;
  background-color: honeydew;
  margin: 0 100px;
}
.chat-content .chat .input-message {
  display: block;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: aliceblue;
}
.chat-content .chat .input-message svg {
  width: 31.25px;
}
.chat-content .chat .input-message svg circle {
  fill: #9E9E9E;
}
.chat-content .chat .input-message .chat-input {
  padding: 7px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: inherit;
}
.chat-content .chat .input-message .submit {
  background-color: #3fb549;
  border: none;
  padding: 10px 30px;
  color: snow;
  border-radius: 8px;
  align-self: center;
  outline: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
.chat-content .chat .input-message .submit:hover, .chat-content .chat .input-message .submit:active {
  background-color: #009688;
}
.chat-content .faq {
  /*background-color: snow;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);*/
  overflow: hidden;
  max-height: 600px;
  /*border-style: none none dashed dashed;;
  border-width: 1px;
  border-bottom-left-radius: 10px;*/
  padding: 10px;
  border-color: green;
}
.chat-content .faq div {
  padding: 10px;
}
.chat-content .faq div header {
  font-size: 18px;
}

@media (max-width: 639px) {
  .faq {
    border: none !important;
  }

  .chat-header {
    margin-top: 2%;
  }
}

/*# sourceMappingURL=chat.css.map */
