$grid-space: 2%;
$breakpoint-mobile: 425px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

*{
  box-sizing: border-box;
}
%clearflow:after{
  content: "";
  clear: both;
  display: block;
}
.row{
  @extend %clearflow;

  & + & {
    margin-top: $grid-space;
  }
}
@media ( max-width: $breakpoint-mobile - 1){
  .sm-mobile-hidden{
    display: none !important;
  }
}
@media (min-width: $breakpoint-mobile ) and (max-width: $breakpoint-tablet - 1){
  .lg-mobile-hidden{
    display: none !important;
  }
}

// mobile display
@media (max-width: $breakpoint-tablet - 1) {
  [class*="col-xs"]{
    float: left;
    box-sizing: border-box;
    margin-right: $grid-space;

    &:last-child{
      margin-right: 0;
    }
  }
  @for $i from 1 through 12 {
    .col-xs-#{$i} {
      width: ( $i *(100% - ( $grid-space * 11))/12 ) + (( $i - 1 ) * $grid-space);
    }
  }


  .mobile-hidden{
    display: none !important;
  }

}

// tablet display
@media ( min-width: $breakpoint-tablet ) and (max-width: $breakpoint-desktop - 1) {
  [class*="col-sm"]{
    float: left;
    box-sizing: border-box;
    margin-right: $grid-space;

    &:last-child{
      margin-right: 0;
    }
  }
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      width: ( $i *(100% - ( $grid-space * 11))/12 ) + (( $i - 1 ) * $grid-space);
    }
  }


  .tablet-hidden{
    display: none !important;
  }

}

// desktop display
@media (min-width: $breakpoint-desktop) {

  [class*="col-"]{
    float: left;
    margin-right: $grid-space;

    &:last-child{
      margin-right: 0;
    }
  }
  @for $i from 1 through 12{
    .col-#{$i} {
      width:( $i *(100% - ( $grid-space * 11))/12 ) + (( $i - 1 ) * $grid-space);
    }
  }

  .desktop-hidden{
    display: none !important;
  }

}
