$grid-space: 2%;
$breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

*{
  box-sizing: border-box;
}
%clearflow:after{
  content: "";
  clear: both;
  display: block;
}
.row{
  @extend %clearflow;

  & + & {
    margin-top: $grid-space;
  }
}

@media (max-width: $breakpoint-tablet) {
  [class*="col-xs"]{
    float: left;
    margin-right: $grid-space;

    &:last-child{
      margin-right: 0;
    }
  }


  .col-xs-1{
    width: (100%/12) - ($grid-space * 11)/12;
  }
  .col-xs-2{
    width: (100% *2/12) - ($grid-space * 11)/12;
  }
  .col-xs-3{
    width: (100% *3/12) - ($grid-space * 11)/12;
  }
  .col-xs-4{
    width: (100% /3) - ($grid-space * 11)/12;
  }
  .col-xs-5{
    width: (100% *5/12) - ($grid-space * 11)/12;
  }
  .col-xs-6{
    width: (100% /2) - ($grid-space * 11)/12;
  }
  .col-xs-7{
    width: (100% *7/12) - ($grid-space * 11)/12;
  }
  .col-xs-8{
    width: (100% *8/12) - ($grid-space * 11)/12;
  }
  .col-xs-9{
    width: (100 *9%/12) - ($grid-space * 11)/12;
  }
  .col-xs-10{
    width: (100% /1.2) - ($grid-space * 11)/12;
  }
  .col-xs-11{
    width: (100% *11/12) - ($grid-space * 11)/12;
  }
  .col-xs-12{
    width: 100%;
  }
  .mobile-hidden{
    display: none;
  }
  
}
@media (min-width: $breakpoint-desktop) {

  [class*="col-"]{
    float: left;
    margin-right: $grid-space;

    &:last-child{
      margin-right: 0;
    }
  }

  .col-1{
    width: (100%/12) - ($grid-space * 11)/12;
  }
  .col-2{
    width: (100% *2/12) - ($grid-space * 11)/12;
  }
  .col-3{
    width: (100% *3/12) - ($grid-space * 11)/12;
  }
  .col-4{
    width: (100% /3) - ($grid-space * 11)/12;
  }
  .col-5{
    width: (100% *5/12) - ($grid-space * 11)/12;
  }
  .col-6{
    width: (100% /2) - ($grid-space * 11)/12;
  }
  .col-7{
    width: (100% *7/12) - ($grid-space * 11)/12;
  }
  .col-8{
    width: (100% *8/12) - ($grid-space * 11)/12;
  }
  .col-9{
    width: (100 *9%/12) - ($grid-space * 11)/12;
  }
  .col-10{
    width: (100% /1.2) - ($grid-space * 11)/12;
  }
  .col-11{
    width: (100% *11/12) - ($grid-space * 11)/12;
  }
  .col-12{
    width: 100% ;
  }

  .mobile-only{
    display: none;
  }

}
