.price-content {
  display: block;
  padding: 16px 14px;
  background-color: snow;
  border-radius: 10px;
  padding: 10px 30px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

.select-location {
  display: inline-block;
  width: 250px;
  color: #0e5c54;
  height: 30px;
  font-size: large;
  letter-spacing: 0.05rem;
}

.price-content table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}
.price-content td {
  border: solid #0e5c54;
  text-align: center;
}
.price-content tr:hover {
    background-color: #0e5c25a9;
    color: snow;
}

.price-content th {
  height: 40px;
  color: snow;
  background-color: #0e5c25;
}
