.balance-sheet{
  display: flex;
  flex-wrap: wrap;

  & > *{
    flex:1 1 700px;
    display: inline-block;
  }

  .crop-sheet{
    /*background-color: aliceblue;*/
    padding: max(10px,2vw);

    h2{
      text-transform:capitalize;
      display:inline;
      margin:20px;
    }

    .add-item{
      float: right;
      cursor: pointer;
      font-size: 1.75rem;
    }

    table{
      width: 100%;
      border-collapse: collapse;

      /*tr.debit{
        background-color:#f3f3f3;
      }

      tr.credit {
        background: #d8f3ed;
      }*/
      tr {
        border-top: solid 1px #cecece;
        text-align: justify;
        cursor: pointer;

        &:first-child {
          background: whitesmoke;
        }

        &:not(:first-child) {
          font-family: 'Lucida Console',monaco, monospace;;

        }

        &:not(:last-child) {
          border-bottom: solid 1px #cecece;
        }

        &:not(:first-child):not(:last-child):hover {
          background: #05ab9b;
          color: snow;
          transition: 0.25s;
        }
      }

      tr:last-child td{
        border:none;
      }

      td,th{
        /*border: solid 1px;*/
        padding: 5px 10px;
      }

      td{

        &:nth-child(2){
          text-transform: capitalize;
        }

        &:nth-child(3){
          /*text-align:right;*/
        }
      }


    }

  }
}

.modal-container{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  background-color: rgba(0,0,0,0.4);
  animation: floatIn 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);

  .modal-content{
    margin:50px auto;
    width: 95%;
    max-width: 450px;
    background-color: white;
    color:#045049;
    border-radius:5px;
    box-shadow: 0 0 5px 1px black;

    header{
      display: flex;
      justify-content: space-between;
      padding: 0.3rem 1rem;
      /*background: #2196F3;
      color: snow;*/

      .close{
        font-size: 2.5rem;
        padding: 0 10px;
        cursor: pointer;
      }

      h2{
        margin: 0.83rem;
        font-size: larger;
        font-weight: 600;
      }
    }

    hr{
      margin: 0;
    }

    section, footer{
      padding: 0.3rem 1rem;
    }


  }
}

@keyframes floatIn {
  from{
    top:-200px;
    background-color: rgba(0,0,0,0);
    /*transform: rotate(0);*/
  }
  to{
    top:0;
    background-color: rgba(0,0,0,0);
    /*transform: rotate(360deg);*/
  }
}

.form-input {
  display: flex;
  /*flex-wrap:wrap;*/
  align-items: center;
  position: relative;
  margin: 10px;
  height: auto;
  justify-content: space-between;

  label{
    min-width: 100px;
    padding: 5px;
    font-size: 1rem;
    letter-spacing: 0.05rem;
  }

  input[type='date'], input[type='text'], input[type='number'], select {
    font-family: inherit;
    font-size: 1rem;
    padding:0.65rem 0.75rem;
    border: solid 1px #4c4c4c7d;
    border-radius: 5px;
    outline: none;
    transition: padding 0.1s;
    letter-spacing: 0.05rem;
    flex: auto;

    &:focus{
      box-shadow: 0 0 3px #009688;
    }
  }

  input[type='submit'], input[type='button']{
    width: 100px;
    display: inline-block;
    padding: 0.65rem 0.75rem;
    border-radius: 5px;
    background: #2196F3;
    color: snow;
    border: none;
    outline: none;
    font-size: 1rem;
    box-shadow: 0 0 3px 0px #2196F3;
    cursor: pointer;
    transition: 0.25s;

    &:hover{
      box-shadow: 0 0 5px 0px #2196F3;
    }

    &:disabled{
      box-shadow: none;
      background-color: #9e9e9ec2;
      cursor: not-allowed;
    }
  }

  textarea{
    flex:1 1 auto;
    font-family:inherit;
    font-size:1rem;
  }
}

@media(max-width:767px){
   .balance-sheet {
     th:nth-child(2),td:nth-child(2){
      display:none;
    }
   }

}
