*, *::after, *::before {
  box-sizing: border-box;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

.row + .row {
  margin-top: 2%;
}

@media (max-width: 424px) {
  .sm-mobile-hidden {
    display: none !important;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .lg-mobile-hidden {
    display: none !important;
  }
}
@media (max-width: 767px) {
  [class*=col-xs] {
    float: left;
    box-sizing: border-box;
    margin-right: 2%;
  }
  [class*=col-xs]:last-child {
    margin-right: 0;
  }

  .col-xs-1 {
    width: 6.5%;
  }

  .col-xs-2 {
    width: 15%;
  }

  .col-xs-3 {
    width: 23.5%;
  }

  .col-xs-4 {
    width: 32%;
  }

  .col-xs-5 {
    width: 40.5%;
  }

  .col-xs-6 {
    width: 49%;
  }

  .col-xs-7 {
    width: 57.5%;
  }

  .col-xs-8 {
    width: 66%;
  }

  .col-xs-9 {
    width: 74.5%;
  }

  .col-xs-10 {
    width: 83%;
  }

  .col-xs-11 {
    width: 91.5%;
  }

  .col-xs-12 {
    width: 100%;
  }

  .mobile-hidden {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  [class*=col-sm] {
    float: left;
    box-sizing: border-box;
    margin-right: 2%;
  }
  [class*=col-sm]:last-child {
    margin-right: 0;
  }

  .col-sm-1 {
    width: 6.5%;
  }

  .col-sm-2 {
    width: 15%;
  }

  .col-sm-3 {
    width: 23.5%;
  }

  .col-sm-4 {
    width: 32%;
  }

  .col-sm-5 {
    width: 40.5%;
  }

  .col-sm-6 {
    width: 49%;
  }

  .col-sm-7 {
    width: 57.5%;
  }

  .col-sm-8 {
    width: 66%;
  }

  .col-sm-9 {
    width: 74.5%;
  }

  .col-sm-10 {
    width: 83%;
  }

  .col-sm-11 {
    width: 91.5%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .tablet-hidden {
    display: none !important;
  }
}
@media (min-width: 1024px) {
  [class*=col-] {
    float: left;
    margin-right: 2%;
  }
  [class*=col-]:last-child {
    margin-right: 0;
  }

  .col-1 {
    width: 6.5%;
  }

  .col-2 {
    width: 15%;
  }

  .col-3 {
    width: 23.5%;
  }

  .col-4 {
    width: 32%;
  }

  .col-5 {
    width: 40.5%;
  }

  .col-6 {
    width: 49%;
  }

  .col-7 {
    width: 57.5%;
  }

  .col-8 {
    width: 66%;
  }

  .col-9 {
    width: 74.5%;
  }

  .col-10 {
    width: 83%;
  }

  .col-11 {
    width: 91.5%;
  }

  .col-12 {
    width: 100%;
  }

  .desktop-hidden {
    display: none !important;
  }
}
@font-face {
  font-family: arizonia;
  src: url(../../fonts/Arizonia-Regular.ttf);
}
@font-face {
  font-family: disolve;
  src: url(../../fonts/Disolve_regular.ttf);
}
@font-face {
  font-family: disolve;
  src: url(../../fonts/Disolve_light.ttf);
  font-weight: lighter;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-ExtraLightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}
body, html {
  height: 100%;
  margin: 0;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
}
body [class^=bgimagediv], html [class^=bgimagediv] {
  position: relative;
}
body .bgimagediv-1, html .bgimagediv-1 {
  min-height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
}
body .bgimagediv-1::before, html .bgimagediv-1::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("https://agrivio-assets.s3.amazonaws.com/index/bgimage1.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.7;
  background-attachment: fixed;
}
body .bgimagediv-1 .top-nav, html .bgimagediv-1 .top-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: max(15px, 2vw) max(20px, 5vw);
}
body .bgimagediv-1 .top-nav a, html .bgimagediv-1 .top-nav a {
  color: snow;
  text-decoration: none;
  position: relative;
  padding: 3px max(7px, 1vw);
  font-size: 1.05rem;
  transition: 0.3s;
  text-transform: uppercase;
}
body .bgimagediv-1 .top-nav a:hover, html .bgimagediv-1 .top-nav a:hover {
  color: snow;
  top: 4.5%;
  /*text-decoration: underline;*/
}
body .bgimagediv-1 .top-nav .signup-option a, html .bgimagediv-1 .top-nav .signup-option a {
  background-color: black;
}
body .bgimagediv-1 .caption, html .bgimagediv-1 .caption {
  text-align: center;
  position: absolute;
  top: 30%;
  width: 100%;
}
body .bgimagediv-1 .caption .logo img, html .bgimagediv-1 .caption .logo img {
  height: 6rem;
}
body .bgimagediv-1 .caption .quote, html .bgimagediv-1 .caption .quote {
  font-size: 1.5rem;
  font-family: Lucida Handwriting, MV Boli, cursive, sans-serif;
  padding: 0.5rem 0;
}
body .bgimagediv-1 .caption .get-started a, html .bgimagediv-1 .caption .get-started a {
  text-decoration: none;
  color: #f9f9f9;
  background: #00a25f;
  width: fit-content;
  padding: 0.35rem 2rem;
  margin: auto;
  margin-top: 0.5rem;
  border-radius: 3rem;
  display: block;
  font-size: 1.75rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  transition: 0.25s;
}
body .bgimagediv-1 .caption .get-started a:hover, html .bgimagediv-1 .caption .get-started a:hover {
  background: #f9f9f9;
  color: #00a25f;
}
body .intro, html .intro {
  padding: 2rem;
  font-family: verdana, sans-serif;
  text-align: center;
}
body .intro h2, html .intro h2 {
  font-weight: normal;
  font-size: 2rem;
  color: #138213;
  text-transform: capitalize;
}
body .intro span, html .intro span {
  width: min(90%, 800px);
  display: block;
  margin: auto;
  margin-bottom: 1.75rem;
}
body .bgimagediv-2, html .bgimagediv-2 {
  background-image: url("https://agrivio-assets.s3.amazonaws.com/index/bgimage2.jpg");
  min-height: 400px;
}
body .slide-show, html .slide-show {
  width: 100%;
  height: 133.3333333333px;
  margin: auto;
  position: relative;
}
body .slide-show .slide, html .slide-show .slide {
  position: absolute;
  width: 0%;
  height: 100%;
}
body .slide-show .slide:hover ~ button[name=prev], body .slide-show .slide:hover ~ button[name=next], html .slide-show .slide:hover ~ button[name=prev], html .slide-show .slide:hover ~ button[name=next] {
  visibility: visible;
}
body .slide-show .slide img, html .slide-show .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
}
body .slide-show button[name=prev], body .slide-show button[name=next], html .slide-show button[name=prev], html .slide-show button[name=next] {
  visibility: hidden;
  position: absolute;
  top: 45%;
  background: none;
  border: none;
  outline: none;
  font-size: 1.25rem;
  color: white;
  transition: 0.3s;
}
body .slide-show button[name=prev]:hover, body .slide-show button[name=next]:hover, html .slide-show button[name=prev]:hover, html .slide-show button[name=next]:hover {
  background-color: black;
  visibility: visible;
}
body .slide-show button[name=prev], html .slide-show button[name=prev] {
  left: 3.5%;
}
body .slide-show button[name=next], html .slide-show button[name=next] {
  right: 3.5%;
}
body .slide-show .dots, html .slide-show .dots {
  position: absolute;
  bottom: 8%;
  right: 0;
  left: 0;
  text-align: center;
}
body .slide-show .dots .dot, html .slide-show .dots .dot {
  padding: 0.4rem;
  margin: 0 0.4rem;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #bababa;
  transition: 0.5s;
}
body .slide-show .dots .active, html .slide-show .dots .active {
  background-color: white;
  padding: 0.42rem;
}
body .services, html .services {
  padding: 2rem;
  max-width: 95%;
  margin: auto;
  text-align: center;
}
body .services h2, html .services h2 {
  font-weight: normal;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  color: #138213;
}
body .services .service, html .services .service {
  max-width: 350px;
  margin: auto;
}
body .services img, html .services img {
  display: block;
  margin: auto;
}
body .footer, html .footer {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.75);
}
body .footer .logo, html .footer .logo {
  margin: auto;
  width: fit-content;
  padding: 0.5rem;
}
body .footer .logo img, html .footer .logo img {
  height: 3rem;
}
body .footer .contact-details, html .footer .contact-details {
  display: flex;
  flex-wrap: wrap;
  max-width: min(95%, 500px);
  margin: auto;
}
body .footer .contact-details div, html .footer .contact-details div {
  flex: 1 1 140px;
  text-align: center;
}
body .footer .copyright, html .footer .copyright {
  text-align: center;
  line-height: 1.8;
}
body .footer .copyright hr, html .footer .copyright hr {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0.9));
  height: 1px;
  border: none;
  width: 100%;
}
body .website-name, html .website-name {
  font-family: disolve, sans-serif;
  font-size: 150%;
}

.slideLeft {
  animation: slideLeft 1s forwards;
}

@keyframes slideLeft {
  from {
    right: 0;
    opacity: 0.4;
    width: 0;
  }
  to {
    right: 0;
    opacity: 1;
    width: 100%;
  }
}
.slideLeftOut {
  animation: slideLeftOut 1s forwards;
}

@keyframes slideLeftOut {
  from {
    width: 100%;
    opacity: 1;
  }
  to {
    width: 0;
    opacity: 0.4;
  }
}
.slideRight {
  animation: slideRight 1s ease-out forwards;
}

@keyframes slideRight {
  from {
    opacity: 0.4;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}
.slideRightOut {
  animation: slideRightOut 1s ease-out forwards;
}

@keyframes slideRightOut {
  from {
    opacity: 1;
    width: 100%;
    right: 0;
  }
  to {
    opacity: 0.4;
    width: 0;
    right: 0;
  }
}
.hidden {
  display: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .services {
    width: 700px;
  }
  .services [class^=col-]:nth-child(even) {
    border-left: solid 1px;
  }

  .slide-show {
    /*width: 700px !important;*/
    height: 341.3333333333px !important;
  }
}
@media (min-width: 1024px) {
  .services {
    width: 900px;
  }
  .services [class^=col-]:nth-child(even) {
    border-left: solid 1px;
  }

  .slide-show {
    /*width: 900px !important;*/
    height: 400px !important;
  }
}

/*# sourceMappingURL=index.css.map */
