@charset "UTF-8";
#outerCircle {
  animation: pulse 2s infinite;
  fill: none;
}

@keyframes pulse {
  0% {
    r: 0;
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    r: 20;
    opacity: 0;
  }
}
.connected circle {
  fill: #009688 !important;
}

.active-room {
  background-color: aliceblue !important;
}

.transparent {
  visibility: hidden;
  opacity: 0;
}

.chat-content {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 559px;
  overflow: hidden;
}
.chat-content .chat-room-selector {
  width: 375px;
  max-width: 99%;
  height: 100%;
  overflow: auto;
}
.chat-content .chat-room-selector .chat-header {
  font-size: 20px;
  padding: 10px 20px;
  background-color: white;
  color: black;
}
.chat-content .chat-room-selector .user-chat-room {
  display: block;
  padding: 10px;
  border: solid 1px;
  cursor: pointer;
  border-color: #9e9e9e54;
  background-color: white;
  color: black;
  transition: background-color 0.2s;
}
.chat-content .chat-room-selector .user-chat-room .user-email {
  font-size: 0.9rem;
  color: #757575;
}
.chat-content .chat-container {
  flex: 1 1 400px;
  border-left: solid 1px green;
}
.chat-content .chat-container .chat-header {
  font-size: 20px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
}
.chat-content .chat-container .chat-header #back-arrow {
  cursor: pointer;
  display: inline-block;
  padding: 0 5px;
  font-size: 28px;
}
.chat-content .chat-container .chat-header #back-arrow:hover {
  transform: scale3d(0.9, 0.9, 0.9);
}
.chat-content .chat-container .chat-header #room-name {
  width: 300px;
  text-align: center;
  display: inline-block;
  flex: auto;
}
.chat-content .chat-container .room-select-alert {
  padding: 10px;
  text-align: center;
}
.chat-content .chat {
  display: block;
  background-color: white;
  /*background-color: #8bf1cb2e;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
  border-radius: 6px;*/
  border-top: 1px #009688 solid;
  height: 500px;
  position: relative;
}
.chat-content .chat .chat-room {
  overflow: auto;
  height: 90%;
  color: black;
}
.chat-content .chat .chat-room .chat-message {
  text-align: justify;
  padding: 10px 10px 1.1rem;
  margin: 5px;
  display: block;
  border-radius: 5px;
  max-width: 80%;
  min-width: 50%;
  position: relative;
}
.chat-content .chat .chat-room .chat-message .content {
  padding: 0;
  margin: 0;
}
.chat-content .chat .chat-room .chat-message .time {
  right: 10px;
  position: absolute;
  bottom: 5px;
  font-size: 0.77em;
}
.chat-content .chat .chat-room .you {
  display: flex;
  height: fit-content;
  width: 95%;
  justify-content: flex-end;
  margin: auto;
}
.chat-content .chat .chat-room .you .chat-message {
  background-color: #f4fff0;
}
.chat-content .chat .chat-room .you .chat-message .sender {
  float: right;
  display: none;
}
.chat-content .chat .chat-room .you .chat-message .time {
  right: 0;
}
.chat-content .chat .chat-room .you .chat-message .sending::after {
  content: "✓";
  color: #009688;
  font-size: 0.9rem;
  letter-spacing: -5px;
  padding-right: 7px;
  /* padding: 5px; */
  padding-left: 2px;
}
.chat-content .chat .chat-room .you .chat-message .sent::after {
  content: "✓✓";
  color: #009688;
  font-size: 0.9rem;
  letter-spacing: -5px;
  padding-right: 7px;
  /* padding: 5px; */
  padding-left: 2px;
}
.chat-content .chat .chat-room .they {
  display: flex;
  height: fit-content;
  width: 95%;
  justify-content: flex-start;
  margin: auto;
}
.chat-content .chat .chat-room .they .chat-message {
  background-color: #d6fffb;
}
.chat-content .chat .chat-room .they .chat-message .time {
  /*float: right;*/
}
.chat-content .chat .chat-room .they .chat-message .sender {
  display: none;
}
.chat-content .chat .chat-room .status {
  text-align: center;
  border-radius: 10px;
  background-color: honeydew;
  margin: 0 100px;
}
.chat-content .chat .input-message {
  display: block;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: aliceblue;
}
.chat-content .chat .input-message svg {
  width: 31.25px;
}
.chat-content .chat .input-message svg circle {
  fill: #9E9E9E;
}
.chat-content .chat .input-message .chat-input {
  padding: 7px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
}
.chat-content .chat .input-message .submit {
  background-color: #3fb549;
  border: none;
  padding: 10px 30px;
  color: snow;
  border-radius: 8px;
  align-self: center;
  outline: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
.chat-content .chat .input-message .submit:hover, .chat-content .chat .input-message .submit:active {
  background-color: #009688;
}

@media (max-width: 639px) {
  .chat-header {
    margin-top: 2%;
  }
}

/*# sourceMappingURL=chat.css.map */
