*, *::after, *::before {
  box-sizing: border-box;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

.row + .row {
  margin-top: 2%;
}

@media (max-width: 424px) {
  .sm-mobile-hidden {
    display: none !important;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .lg-mobile-hidden {
    display: none !important;
  }
}
@media (max-width: 767px) {
  [class*=col-xs] {
    float: left;
    box-sizing: border-box;
    margin-right: 2%;
  }
  [class*=col-xs]:last-child {
    margin-right: 0;
  }

  .col-xs-1 {
    width: 6.5%;
  }

  .col-xs-2 {
    width: 15%;
  }

  .col-xs-3 {
    width: 23.5%;
  }

  .col-xs-4 {
    width: 32%;
  }

  .col-xs-5 {
    width: 40.5%;
  }

  .col-xs-6 {
    width: 49%;
  }

  .col-xs-7 {
    width: 57.5%;
  }

  .col-xs-8 {
    width: 66%;
  }

  .col-xs-9 {
    width: 74.5%;
  }

  .col-xs-10 {
    width: 83%;
  }

  .col-xs-11 {
    width: 91.5%;
  }

  .col-xs-12 {
    width: 100%;
  }

  .mobile-hidden {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  [class*=col-sm] {
    float: left;
    box-sizing: border-box;
    margin-right: 2%;
  }
  [class*=col-sm]:last-child {
    margin-right: 0;
  }

  .col-sm-1 {
    width: 6.5%;
  }

  .col-sm-2 {
    width: 15%;
  }

  .col-sm-3 {
    width: 23.5%;
  }

  .col-sm-4 {
    width: 32%;
  }

  .col-sm-5 {
    width: 40.5%;
  }

  .col-sm-6 {
    width: 49%;
  }

  .col-sm-7 {
    width: 57.5%;
  }

  .col-sm-8 {
    width: 66%;
  }

  .col-sm-9 {
    width: 74.5%;
  }

  .col-sm-10 {
    width: 83%;
  }

  .col-sm-11 {
    width: 91.5%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .tablet-hidden {
    display: none !important;
  }
}
@media (min-width: 1024px) {
  [class*=col-] {
    float: left;
    margin-right: 2%;
  }
  [class*=col-]:last-child {
    margin-right: 0;
  }

  .col-1 {
    width: 6.5%;
  }

  .col-2 {
    width: 15%;
  }

  .col-3 {
    width: 23.5%;
  }

  .col-4 {
    width: 32%;
  }

  .col-5 {
    width: 40.5%;
  }

  .col-6 {
    width: 49%;
  }

  .col-7 {
    width: 57.5%;
  }

  .col-8 {
    width: 66%;
  }

  .col-9 {
    width: 74.5%;
  }

  .col-10 {
    width: 83%;
  }

  .col-11 {
    width: 91.5%;
  }

  .col-12 {
    width: 100%;
  }

  .desktop-hidden {
    display: none !important;
  }
}
@font-face {
  font-family: arizonia;
  src: url(../../fonts/Arizonia-Regular.ttf);
}
@font-face {
  font-family: disolve;
  src: url(../../fonts/Disolve_regular.ttf);
}
@font-face {
  font-family: disolve;
  src: url(../../fonts/Disolve_light.ttf);
  font-weight: lighter;
}
@font-face {
  font-family: SF Compact;
  src: url(../../fonts/SF-Compact-Text-Regular.otf);
  font-weight: lighter;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-ExtraLightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway/Raleway-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../../fonts/Fira Sans/FiraSans-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: Fira Sans;
  src: url("../../fonts/Fira Sans/FiraSans-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../../fonts/Fira Sans/FiraSans-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: Fira Sans;
  src: url("../../fonts/Fira Sans/FiraSans-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../../fonts/Fira Sans/FiraSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Fira Sans;
  src: url("../../fonts/Fira Sans/FiraSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../../fonts/Fira Sans/FiraSans-Regular.ttf");
}
@font-face {
  font-family: Fira Sans;
  src: url("../../fonts/Fira Sans/FiraSans-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../../fonts/Fira Sans/FiraSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Fira Sans;
  src: url("../../fonts/Fira Sans/FiraSans-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../../fonts/Fira Sans/FiraSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Fira Sans;
  src: url("../../fonts/Fira Sans/FiraSans-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../../fonts/Fira Sans/FiraSans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Fira Sans;
  src: url("../../fonts/Fira Sans/FiraSans-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../../fonts/Fira Sans/FiraSans-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: Fira Sans;
  src: url("../../fonts/Fira Sans/FiraSans-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: Fira Sans;
  src: url("../../fonts/Fira Sans/FiraSans-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: Fira Sans;
  src: url("../../fonts/Fira Sans/FiraSans-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: Open Sans;
  src: url("../../fonts/Open Sans/OpenSans-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: Open Sans;
  src: url("../../fonts/Open Sans/OpenSans-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Open Sans;
  src: url("../../fonts/Open Sans/OpenSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Open Sans;
  src: url("../../fonts/Open Sans/OpenSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Open Sans;
  src: url("../../fonts/Open Sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: Open Sans;
  src: url("../../fonts/Open Sans/OpenSans-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: Open Sans;
  src: url("../../fonts/Open Sans/OpenSans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Open Sans;
  src: url("../../fonts/Open Sans/OpenSans-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Open Sans;
  src: url("../../fonts/Open Sans/OpenSans-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: Open Sans;
  src: url("../../fonts/Open Sans/OpenSans-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins/Poppins-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins/Poppins-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins/Poppins-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins/Poppins-ExtraLightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins/Poppins-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins/Poppins-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins/Poppins-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins/Poppins-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins/Poppins-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins/Poppins-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins/Poppins-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins/Poppins-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins/Poppins-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins/Poppins-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins/Poppins-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins/Poppins-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: Poppins;
  src: url(../../fonts/Poppins/Poppins-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto/Roboto-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto/Roboto-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto/Roboto-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto/Roboto-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto/Roboto-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto/Roboto-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto/Roboto-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto/Roboto-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto/Roboto-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: Pontano Sans;
  src: url("../../fonts/Pontano Sans/PontanoSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat/Montserrat-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat/Montserrat-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat/Montserrat-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat/Montserrat-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat/Montserrat-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat/Montserrat-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat/Montserrat-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat/Montserrat-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat/Montserrat-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat/Montserrat-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat/Montserrat-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat/Montserrat-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat/Montserrat-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: Sulphur Point;
  src: url("../../fonts/Sulphur Point/SulphurPoint-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Sulphur Point;
  src: url("../../fonts/Sulphur Point/SulphurPoint-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Sulphur Point;
  src: url("../../fonts/Sulphur Point/Sulphur Point-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Lato;
  src: url(../../fonts/Lato/Lato-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Lato;
  src: url(../../fonts/Lato/Lato-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Lato;
  src: url(../../fonts/Lato/Lato-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Lato;
  src: url(../../fonts/Lato/Lato-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Lato;
  src: url(../../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato;
  src: url(../../fonts/Lato/Lato-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: Lato;
  src: url(../../fonts/Lato/Lato-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Lato;
  src: url(../../fonts/Lato/Lato-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Lato;
  src: url(../../fonts/Lato/Lato-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: Lato;
  src: url(../../fonts/Lato/Lato-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: Nunito;
  src: url(../../fonts/Nunito/Nunito-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Nunito;
  src: url(../../fonts/Nunito/Nunito-ExtraLightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: Nunito;
  src: url(../../fonts/Nunito/Nunito-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Nunito;
  src: url(../../fonts/Nunito/Nunito-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Nunito;
  src: url(../../fonts/Nunito/Nunito-Regular.ttf);
}
@font-face {
  font-family: Nunito;
  src: url(../../fonts/Nunito/Nunito-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: Nunito;
  src: url(../../fonts/Nunito/Nunito-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Nunito;
  src: url(../../fonts/Nunito/Nunito-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Nunito;
  src: url(../../fonts/Nunito/Nunito-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Nunito;
  src: url(../../fonts/Nunito/Nunito-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: Nunito;
  src: url(../../fonts/Nunito/Nunito-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Nunito;
  src: url(../../fonts/Nunito/Nunito-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Nunito;
  src: url(../../fonts/Nunito/Nunito-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Nunito;
  src: url(../../fonts/Nunito/Nunito-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: Nunito;
  src: url(../../fonts/Nunito/Nunito-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: Nunito;
  src: url(../../fonts/Nunito/Nunito-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: Cabin;
  src: url(../../fonts/Cabin/Cabin-Regular.ttf);
}
@font-face {
  font-family: Cabin;
  src: url(../../fonts/Cabin/Cabin-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: Cabin;
  src: url(../../fonts/Cabin/Cabin-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Cabin;
  src: url(../../fonts/Cabin/Cabin-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Cabin;
  src: url(../../fonts/Cabin/Cabin-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Cabin;
  src: url(../../fonts/Cabin/Cabin-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: Cabin;
  src: url(../../fonts/Cabin/Cabin-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Cabin;
  src: url(../../fonts/Cabin/Cabin-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
body {
  background-image: linear-gradient(to right, #fff, #32b57a);
  margin: 0;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
  /*position: relative;

  .row{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: fit-content;
  }*/
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  margin: auto;
  padding: 5% 0;
}
.wrap .header {
  width: min(400px, 100%);
  padding: 0 10px;
  text-align: center;
  margin: 2rem 0 1rem;
}
.wrap .header .logo {
  height: 5rem;
  display: block;
  margin: auto;
}
.wrap .header .website-name {
  /*margin: 20px auto 0 50px;
  color: white;
  margin-top: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5rem;*/
  height: 5rem;
  /*font-family: papyrus;
  font-size: 2.5rem;
  padding: 0.5rem;
  color: mediumseagreen;
  font-weight: bolder;
  margin-top: 0;*/
}
.wrap .header div.welcome-message {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  color: #00b3bb;
}

.form {
  width: min(400px, 100%);
  display: flex;
  flex-direction: column;
  /*background-color: #23c58e;*/
}
.form h2 {
  padding: 0 10px;
}
.form div {
  margin: 0.625rem 1.5rem;
}
.form span {
  font-size: 0.95rem;
}
.form span a {
  color: #054e40;
  text-decoration: none;
}
.form span a:hover {
  text-decoration: underline;
  color: #015a05;
}
.form .signup-redirect a {
  color: #00b337;
  text-decoration: none;
}
.form .signup-redirect a:hover {
  text-decoration: underline;
  color: green;
}

.form-item.error-box {
  background-color: white;
  color: red;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

.image {
  overflow: hidden;
}
.image img.farmer {
  width: 70%;
  margin: 15% auto 0;
  display: block;
}

.form-btn {
  text-align: center;
}
.form-btn .login-btn {
  background: none;
  border: 2px solid;
  /*line-height: 1;*/
  color: #13a719;
  transition: 0.25s;
  border-radius: 6px;
  text-decoration: none;
  font-size: 1.25rem;
  text-align: center;
  width: 100%;
  letter-spacing: 0.1rem;
  padding: 0.55rem;
  outline: none;
}
.form-btn .login-btn:hover {
  box-shadow: 0 0 0 0 #1f6f78, inset 6em 3.5em 0 0 #16d284;
  color: white;
}

@media (max-width: 1023px) {
  body {
    background: #2cf7b21c;
  }
}

/*# sourceMappingURL=login.css.map */
