body{
  margin: 0;
 background-color: white;
}
*{
  box-sizing: border-box;
}
.grid{
  display: grid;
  grid-template-rows: 70px auto 100px;


  margin: 0;
  min-height: 100vh;

}
.grid-section{
  display: grid;
  grid-template-columns: 20% auto;
}
.grid-content{
  display: grid;
  grid-template-columns: auto 25%;
}
.grid-left{
  border-top: solid 2px   #04674e;
  border-right: solid 2px   #04674e;
}
.grid-item0{

  background-color:#04674e;
  overflow-y: auto;
  padding:10px;
}

.grid-item5{
  padding:5px;

  overflow-y: auto;
  background-color:#f1d0f3;
}
.grid-item6{

  padding:5px;
  overflow: hidden;
  background-color:#f1d0f3;
}

.weather-window{
  height: 170px;
}
/*
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track {
  background:#000102;
  border-radius: 20px;
  box-shadow: inset 0px 0px 5px #124112;
}
::-webkit-scrollbar-thumb {
  background: #f43685;
  border-radius: 20px;

}
::-webkit-scrollbar-thumb:hover{
  background: #f01d75;
}
*/
