
.dashboard{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap:2px;
}

.grid-content {

}


.article{

  background-color: #fbfffa;
  border-radius: 6px;
  padding: 20px;
  margin: 5px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);

}

.article h3:hover{
  cursor: pointer;
  color: #1f6f78;
  letter-spacing: .05rem;
}

.crop-suggestion{
  list-style-type: none;
  padding: 0;
}
.grid-content header{
  padding:10px 20px 5px;
font-size: 20px;
font-weight: bold;
}



@media (max-width: 1100px){
  .dashboard{
    grid-template-columns: none;
  }

  .grid-right{
    display: none;

  }
}
