hr{
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #04674e2a;
}

.grid-footer{
  grid-column: 1/2;
  padding: 5px 10vw;
  /* background-color: rgb(250, 255, 250); */
  text-align: center;
}

.grid-footer ul{
  margin: 0;
  padding:5px;
}

.bottom-nav .nav-item{
  display:inline;
  font-size: 16px;
  padding:5px 25px;
}

.bottom-nav .nav-item a{
  color: #1f784f;
  text-decoration: none;
}

.bottom-nav .nav-item a:hover{
  color:  #29b3a5;
}
