hr{
  margin: 0;
  color: #04674e2a;
  /* width: 80%; */
  border: none;
  border-bottom: 1px solid ;
}

.grid-footer{
  grid-column: 1/2;
  padding: 5px 10vw;
  background-color: #ecf1f0;
  text-align: center;
}

.grid-footer ul{
  margin: 0;
  padding:5px;
}

.bottom-nav .nav-item{
  display:inline;
  font-size: 16px;
  padding:5px 25px;
}

.bottom-nav .nav-item a{
  color: #1f784f;
  text-decoration: none;
}

.bottom-nav .nav-item a:hover{
  color: #26eac2;
}
