.grid-header
{
  position:sticky;
  top:0;
  grid-column:1/2;
  display: grid;
  grid-template-columns: 20% auto 250px 150px;
  grid-gap: 5px;
  background-color:  #118a7e;
  color:snow;
  text-decoration:none;
  box-shadow: 1px 1px 2px 1px black;
}
.nav-bar-icon{
  font-size: 25px;
  margin: auto;
  margin-left: 15px;
  cursor: pointer;
  display: inline-block;

}
.user-icon{
  display: inline-block;

}
svg{
  max-width: 100%;
  max-height: 100%;
}
.user-icon{
  cursor: pointer;
  background-color: black;
}
.user-menu ul{
  position: absolute;
  padding: 0;
  margin: 0;
  list-style-type: none;
  min-width: 130px;
  padding: 5px;
  text-align: center;
  display: none;
}
.user-menu li{
  min-height: 35px;
  padding-top: 10px;
  border-bottom: solid 2px;
  background-color: #1d9863;
  cursor: pointer;
  border-bottom-style: outset;
}
.user-menu a{
  text-decoration: none;
  color: snow;
}
.user-menu li:hover{
  background-color: #1b7d53;
}
.show{
  display: block !important;
}
.logo{
  /*background-color: white;*/
  text-align: center;
  padding: 15px;
  font-size: 25px;
}


.user-nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: block;
  overflow: hidden;
  height: 100%;
  position: absolute;
}
.user-nav li{
  display: inline-block;
  /*width: 100px;
  height: 100%;
  text-align: justify;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: auto;*/
}
.user-nav a{
  display: inline-block;
  text-align: center;
  padding: 19px;
  text-decoration: none;
  color: snow;
  font-size: 20px;
  transition: color 0.5s, background-color 0.5s, transform 0.5s;
}
.user-nav a:hover, .user-nav a:active{
  background-color: snow;
  color: #0d6d63;
  transform: scale3d(1.05,1.05,1.05);
}


.search-box form{
  margin-top:20px;
  width:245px;
  border: solid 1px;
  /*border-radius: 5px;*/

}
.search-box input{
  padding: 4px 0 4px 10px;
  font-size: 16px;
  /*border-radius: 14px 0 0 14px;*/
  outline: none;
  border:none;
}
.search-box input:focus{
  background-color: aliceblue;
}
  .search-box button{
    background-color:transparent;
    border:none;
    outline: none;
    cursor: pointer;
    position: absolute;
  }
