$header-bottom-bgcolor: #009663;
$user-nav-link-color: snow;
$user-nav-link-font-size:17px;
$user-nav-link-padding:10px;
$user-nav-link-hover-color:#0d6d63;
$user-nav-link-hover-bgcolor:#fbfffa;
$page-max-width:1020px;
$breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

@use '../base';

body{
	margin: 0;
	font-family: Microsoft JhengHei, sans-serif;
	min-width: 200px;
 }
.page-header{
  width: 100%;
  .header-top{
    height:60px;
    position: relative;

    &:before{
      content: '';
      position: absolute;
      background-image: url("../../img/greengrass.jpg");
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      z-index: -1;

    }
    .top-subheader{
      max-width: $page-max-width;
      margin: auto;
      .main-logo{
        color: aliceblue;
        font-family:  papyrus,serif;
        font-size: 38px;
        padding-left: 30px;

      }
	  .caption{
		font-family: Brush Script MT;
		font-size: 200%;
		transform: rotate(357deg);
		padding: 10px 40px;
		color: #004000;
	  }
      .bell-icon{
        display: inline-block;
        user-select: none;
        transform: scale(0.8);
        svg{
          fill: #ecefec;
          stroke: #ecefec;
          height: 35px;
          cursor: pointer;
        }
      }
      .notification-list{
        display: inline-block;
        position: absolute;
        background-color: white;
        width: 400px;
        height: 450px;
        margin-left: -360px;
        margin-top: 60px;
        z-index: 1;
        border-radius: 1px;
        box-shadow: -1px 2px 10px;

        &:before{
          content: " ";
          margin-left: -90px;
          margin-top: -22px;
          position: absolute;
          border: solid 15px;
          border-color: transparent  transparent white  transparent ;
        }
        .notification-header{
          height:9%;
          border-bottom: solid 1px rgba(0,0,0,0.3);

          header{
            padding: 10px 15px;
            text-align: justify;
            font-size: 20px;
            font-weight: normal;
          }
        }
        .notifications{
          height: 91%;
          overflow-y: auto;
          text-align: justify;
          padding: 5px;
          background-color: snow;

          .notification{
            padding:5px 10px;
            &:hover{
              background-color: rgba(0,255,0, 0.03);
              cursor: default;
            }
          }
        }
      }

    }

  }
  .header-bottom{
    background-color: $header-bottom-bgcolor;
    position: relative;
    .user-nav {
      margin: auto;
      max-width: $page-max-width;
      height: 40px;
      .user-icon{
        height: 100%;
        width: 100%;
      }
      ul{
        margin: 0;
        padding: 0;
        display: block;
        overflow: hidden;
        list-style-type: none;
        width:100%;
      }
      li{
        display: inline-block;
        a{
          min-width: 100px;
          text-align: center;
          text-decoration: none;
          display: block;
          padding: $user-nav-link-padding;
          color: $user-nav-link-color;
          font-size: $user-nav-link-font-size;
          transition: color 0.5s, background-color 0.5s;
        }
        a:hover{
          /*transform: scale3d(1.05,1.05,1.05);*/
          color: $user-nav-link-hover-color;
          background-color: $user-nav-link-hover-bgcolor;
        }
      }
    }
    .account-nav{
      position: relative;
      /* right: 5%; */
      margin: auto;
      max-width: 1020px;
      ul{
        text-align: right;
        padding: 10px 0;
        margin:-40px 0 0;
        list-style-type: none;
        background-color:white;
        width: 150px;
        position: absolute;
        right: 2px;
        border-radius: 5px;
        box-shadow:0 1px 4px 0;
        &:before{
          content: " ";
          height: 10px;
          border: solid 10px;
          border-color: transparent transparent white;
          position: absolute;
          margin-top: -37px;
          margin-left: -37px;
        }
        li{

          text-align: center;
          a{
            text-decoration: none;
            color: #1dc089;
            width: 100%;
            display: block;
            padding: 5px 0;
            &:hover{
              background-color: rgba(0,0,0,0.01);
            }
          }
        }
      }

    }
  }

}
.page-content{
  margin: auto;
  max-width: $page-max-width;
}

.page-footer{
  background: linear-gradient(to right,#00d28c,#13cab1);
  padding-top: 20px;
  color:aliceblue;
  .footer-top{
    max-width: $page-max-width;
    margin: auto;
    ul{
      padding:0 0 20px;
      list-style-type:none;
      .footer-title{
        font-weight: 700;
      }
      li{
        padding: 5px 0;
        a{
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
  .footer-bottom{
    text-align: center;
    height: 40px;
    background-color: #0a7b55;
    color: aliceblue;
    padding: 10px;
  }

}
.hidden{
  display:none !important;
}

.show-nav{

  max-height: 700px !important;
}

@media  ( min-width: $breakpoint-tablet ) and ( max-width: $breakpoint-desktop - 1 ){
  .page-content{
    max-width: 700px;
  }
}
@media (max-width:$breakpoint-desktop - 1) {
  .page-header{
    .header-top{
      .top-subheader{
        .main-logo{
          padding:10px 0 0 5px;
          font-size: 30px;
        }
        .caption{
          font-size:10px;
        }
        .menu-icon{
          width: fit-content;
          cursor: pointer;
          &::before{
            content: "\2630";
          }
        }
        .notification-list{
          position: absolute;
          margin: auto ;
          top:60px ;
          right: 2px;
          width: 99% ;
          max-width: 400px;
          &:before{
            margin-left: -95px;
          }
        }

      }

    }
    .header-bottom{
      .user-nav{
        height: 20px;
        position: relative;
        ul{
          position: absolute;
          background-color:white;
          border-bottom: solid 10px ;
          border-top: solid 10px;
          border-color: #02b377;
          /*box-shadow: -1px 2px 8px 0px;*/
          max-height: 0;
          transition: max-height 260ms ease;
          li{
           width: 100%;
           a{
             color:#1dc089;
           }

         }
        }
      }
      .account-nav{
        ul{
          margin:-20px 0 0;
        }
      }
    }
  }
  .page-footer{
    .footer-top{
      ul{
        padding: 20px;
        margin: 0;
        text-align: center;
        .footer-title{
          text-align: center;
          display: block;
        }
        li{
          display: inline-block;
          padding: 5px 7px;
          a:hover{
            color:black;
          }
        }
      }
    }
  }
}
