#outerCircle{
  animation: pulse 2s infinite;
  fill:none;
}
@keyframes pulse{
  0% {
    r:0;
    opacity: 1;
  }
  75%{
    opacity: 0;
  }
  100% {
    r:20;
    opacity: 0;
  }
}
.connected {
  circle{
    fill:#009688 !important;
  }
}
.active-room{
  background-color: aliceblue !important;
}

.transparent{
  visibility: hidden;
  opacity: 0;
}

.chat-content{
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 559px;
  overflow: hidden;

  .chat-room-selector{
    width: 375px;
    max-width: 99%;
    height: 100%;
    overflow: auto;

    .user-chat-room{
      display: block;
      padding: 10px ;
      border: solid 1px;
      cursor: pointer;
      border-color:#9e9e9e54;
      background-color: white;
      color: black;
      transition: background-color 0.2s;

      .user-email{
        font-size: 0.9rem;
        color: #757575;
      }
    }
  }
  .chat-container{
    flex: 1 1 400px;
    border-left:solid 1px green;

    #back-arrow{
      cursor: pointer;
      display: inline-block;
      padding: 0 5px;
      font-size: 28px;

      &:hover{
        transform: scale3d(0.9,0.9,0.9);
      }
    }

    #room-name{
      width: 300px;
      text-align: center;
      display: inline-block;
    }

    .room-select-alert{
      padding: 10px;
      text-align: center;
    }
  }
  .chat-header{
    font-size: 20px;
    padding: 10px 20px;
    background-color: white;
    color: black;
  }

  .chat{
      display: block;
      background-color: white;
      /*background-color: #8bf1cb2e;
      box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
      border-radius: 6px;*/
      border-top: 1px #009688 solid;
      height: 500px;
      position: relative;


      .chat-room{
          overflow: auto;
          height: 90%;
          color: black;

          .chat-message{
              text-align: justify;
              padding: 10px 10px 1.1rem;
              margin: 5px;
              display: block;
              border-radius: 5px;
              max-width: 80%;
              min-width: 50%;
              position: relative;

              .content{
                padding: 0;
                margin: 0;
              }

              .time {
                right: 10px;
                position: absolute;
                bottom: 5px;
                font-size: 0.77em;

              }
          }

          .you{
              display: flex;
              height: fit-content;
              width: 95%;

              justify-content: flex-end;
              margin: auto;

              .chat-message{
                background-color: #f4fff0;
                .sender{
                    float: right;
                    display: none;
                }
                .time{
                  right: 0;
                }
                .sending{
                  &::after {
                      content: '\2713';
                      color: #009688;
                      font-size: 0.9rem;
                      letter-spacing: -5px;
                      padding-right: 7px;
                      /* padding: 5px; */
                      padding-left: 2px;
                  }
                }
                .sent{
                  &::after{
                    content: '\2713\2713';
                    color: #009688;
                    font-size: 0.9rem;
                    letter-spacing: -5px;
                    padding-right: 7px;
                    /* padding: 5px; */
                    padding-left: 2px;
                  }
                }
              }

          }

          .they{
              display: flex;
              height: fit-content;
              width: 95%;
              justify-content: flex-start;
              margin: auto;

              .chat-message{
                background-color: #d6fffb;
                .time{
                    /*float: right;*/
                }
                .sender{
                  display: none;
                }
              }

          }

          .status{
              text-align: center;
              border-radius: 10px;
              background-color: honeydew;
              margin: 0 100px;
          }
      }

      .input-message{
          display: block;
          text-align:center;
          padding: 5px 0;
          position: absolute;
          width:100%;
          bottom: 0;
          background-color: aliceblue;

          svg{
            width: 31.25px;
            circle{
              fill:#9E9E9E;
            }
          }
          .chat-input{
              padding: 7px;
              width: 100%;
              border: none;
              outline: none;
              border-radius: 5px;
          }

          .submit{
              background-color: #3fb549;
              border: none;
              padding: 10px 30px;
              color: snow;
              border-radius: 8px;
              align-self: center;
              outline: none;
              box-shadow: 0px 1px 2px rgba(0,0,0,0.5);

              &:hover, &:active{
                  background-color: #009688;
              }
          }
      }

  }


}

@media (max-width:639px){
  .chat-header{
    margin-top: 2%;
  }
}
