.calendar{
  display: grid;
  grid-template-columns: 740px auto;
  grid-column-gap:2px;
  background-color: aliceblue;
}
.calendar-content{
    padding:40px;
    font-family: verdana, serif;
}
.calendar-stats{
    padding:20px 40px;
    font-family: verdana, serif;
    /*border-left: solid 2px green;*/
}
.cal-box{
  box-shadow: 5px 5px 10px 1px;
}
.cal-head{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: auto 80% auto;
    text-align: center;

}
.cal-main{
    background-color: rgb(130, 238, 229);
    width: 100%;
    height: 400px;
}
.calendar-content table{
    column-count: auto;
    width: inherit;
    height: inherit;

}
.cal-day, .cal-num{
    text-align: center;
}
.cal-num{
    cursor: pointer;
}
.prev-month, .next-month{
    font-weight: lighter;
    opacity: 0.8;
}
.curr-month{
    font-weight: 600;
}
.calendar-content th, .modal th{

    color: navy;
}
.calendar-content td,.calendar-content th, .modal th, .modal td{
    padding: 10px;

}
.stats-overview, .crop-stats, .event-type-stats{
  display: none;
}
.show{
  display: block !important;
}
.calendar-stats label{
  padding: 5px;
/* margin: 5px; */
line-height: 40px;
font-size: larger;
color: #12ceb4;
text-transform: capitalize;
font-variant: all-petite-caps;
}
.calendar-stats table{
  border-collapse: collapse;
  min-width: 250px;
}
.calendar-stats td,.calendar-stats th{
    padding:5px 10px;
    text-align: center;
    border: solid #5ace6d;
}
.calendar-stats th{
  color: darkcyan;
  background-color: #97f7b02e;
}
.calendar-stats td{
  color: #096945;
}
.today{
        border-radius: 50%;
        border: solid #333 2px;
        color: aliceblue;
        background-color: #333;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height:100%;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content{
    display: block;
    background-color: aliceblue;
    width: 400px;
    margin: 5% auto;
    padding: 10px;
}
.close{
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.event-display{
    text-decoration: cornsilk underline;
}
